html {
 scroll-snap-type: y mandatory;
 scrollbar-width: none;
}
* {
 scrollbar-width: none;
 font-family: "Courier Prime", monospace;
}

section {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 scroll-snap-align: center;
}

.navbar-font {
 font-family: "Courier Prime", monospace;
}

@font-face {
 font-family: "Courier Prime";
 src: local("YourFontName"),
  url("/src/assets/Fonts/Baloo_Thambi_2/BalooThambi2-VariableFont_wght.ttf")
   format("truetype");
 font-weight: bold;
 font-style: normal;
}
