html {
 /* scroll-snap-type: y mandatory; */
 scrollbar-width: none;
}
* {
 scrollbar-width: none;
 font-family: "Montserrat", monospace;
}

h1{
  margin: 0;
  padding: 0;
}

section {
 /* height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 scroll-snap-align: center; */
}

.navbar-font {
 /* font-family: "Courier Prime", monospace; */
}

@font-face {
 font-family: "Courier Prime";
 src: local("YourFontName"),
  url("/src/assets/Fonts/Montserrat,Playfair_Display/Montserrat/Montserrat-VariableFont_wght.ttf")
   format("truetype");
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: "Courier Prime Normal";
 src: local("YourFontName"),
  url("/src/assets/Fonts/Montserrat,Playfair_Display/Montserrat/Montserrat-VariableFont_wght.ttf")
   format("truetype");
 font-weight: normal;
 font-style: normal;
}

.normal-font{
 font-family: "Courier Prime Normal", monospace;

}